<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="box-harga">
        <div class="text-harga">
            <p>UPDATE HARGA DARI TOKO KAMI</p>
        </div>
        <div class="judul-harga">
            <p>Sayuran Segar</p>
            <p>Sayuran Rempah</p>
            <p>Paket Masak</p>
        </div>
        <div class="item-harga">
            <div class="card-harga">
                <div class="img-harga">
                    <img src="../assets/selada.png" alt="">
                </div>
                <div class="harga-desc">
                    <p>Selada</p>
                    <p>Mulai Dari :</p>
                    <p>Rp.19.500/KG</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>